<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="card-header">
            Reset Your Password
        </mat-card-title>
        <mat-card-subtitle>
            Please enter your email address to request a password reset
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="standard">
            <mat-label>Email Address</mat-label>
            <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="emailFormControl.invalid">
                {{getErrorMessage()}}
            </mat-error>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <button mat-raised-button color="primary" (click)="resetPassword()">
            Reset Password
        </button>
    </mat-card-actions>

    <mat-card-footer>
        <span>Go back to <a class="redirect" routerLink="/authentication/log-in">Log In</a></span>
    </mat-card-footer>
</mat-card>