.example-card {
  max-width: 400px;
  margin-bottom: 8px;
  margin: 20px auto;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

.card-header {
  background: linear-gradient(
    to right bottom,
    rgba(151, 117, 250, 1) 0%,
    rgba(116, 143, 252, 1) 100%
  );
  color: transparent;
  background-clip: text;
  font-size: 22px;
  text-transform: uppercase;
}

mat-hint,
mat-error {
  margin: 5px;
}

.card-actions {
  display: flex;
  justify-content: center;
}

.card-shadow {
  box-shadow: 5px 5px 15px #777;
}
