<mat-card class="example-card card-shadow">
    <mat-card-title-group>
        <mat-card-title class="card-header">Add new operation</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
        <div [formGroup]="operationForm">
            <mat-form-field appearance="standard">
                <mat-label>Enter an accuont number</mat-label>
                <input matInput type="number" formControlName="accountNum" required>
                <mat-error *ngIf="operationForm.get('accountNum')?.errors">{{getErrorMessage("accountNum")}}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Choose operation type</mat-label>
                <mat-select [formControl]="type">
                    <mat-option value="cash withdrawal">Cash withdrawal</mat-option>
                    <mat-option value="cash deposit">Cash deposit</mat-option>
                    <mat-option value="loan">Loan</mat-option>
                </mat-select>
                <mat-error *ngIf="type.hasError('required')">
                    Please choose an operation type</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Enter an Amount</mat-label>
                <input matInput type="number" formControlName="amount" required>
                <mat-error *ngIf="operationForm.get('amount')?.errors">{{getErrorMessage("amount")}}</mat-error>
            </mat-form-field>

            <mat-form-field color="primary" appearance="standard">
                <mat-label>Operation date</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="date" [readonly]="true">
                <mat-datepicker-toggle matSuffix [for]="picker2" [disabled]="false">
                </mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary" [disabled]="false"></mat-datepicker>
                <mat-error *ngIf="operationForm.get('date')?.errors">{{getErrorMessage("date")}}</mat-error>
                <!-- <mat-error *ngIf="dateError">Operation date is required</mat-error> -->
            </mat-form-field>

            <ng-container *ngIf="type.value === 'loan'">
                <mat-form-field appearance="standard">
                    <mat-label>Enter number of payments</mat-label>
                    <input matInput type="number" formControlName="payments" required>
                    <mat-error *ngIf="operationForm.get('payments')?.errors">{{getErrorMessage("payments")}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Enter interest</mat-label>
                    <input matInput type="number" formControlName="interest" required>
                    <mat-error *ngIf="operationForm.get('interest')?.errors">{{getErrorMessage("interest")}}
                    </mat-error>
                </mat-form-field>
            </ng-container>


        </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <button mat-flat-button color="primary" [disabled]="operationForm.invalid"
            (click)="addOperation()">Submit</button>
        <button mat-flat-button routerLink="/">Cancel</button>
    </mat-card-actions>
</mat-card>