<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title>Add new operation</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
        <mat-form-field appearance="standard">
            <mat-label>Enter an accuont number</mat-label>
            <input matInput type="number" [(ngModel)]="accuontNum" required>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Choose operation type</mat-label>
            <mat-select [(ngModel)]="type">
                <mat-option value="Cash withdrawal">Cash withdrawal</mat-option>
                <mat-option value="Cash deposit">Cash deposit</mat-option>
                <mat-option value="loan">Loan</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Enter an Amount</mat-label>
            <input matInput [(ngModel)]="amount" required>

        </mat-form-field>

        <ng-container *ngIf="type === 'loan'">
            <mat-form-field appearance="standard">
                <mat-label>Enter number of payments</mat-label>
                <input matInput [(ngModel)]="payments" required>

            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Enter interest</mat-label>
                <input matInput [(ngModel)]="interest" required>

            </mat-form-field>

        </ng-container>
        <button mat-raised-button color="primary" (click)="addOperation()">Submit</button>
    </mat-card-content>
</mat-card>