/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  background-color: #8ce99a;
  color: #868e96;
  text-align: center;
}

.info-snackbar {
  background-color: #91a7ff;
  color: #495057;
  text-align: center;
}

.danger-snackbar {
  background-color: #ff6b6b;
  color: #e9ecef;
  text-align: center;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
  margin: 10% auto;
  box-shadow: 5px 10px 18px #333;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.mat-card-header {
  background: linear-gradient(
    to right bottom,
    rgba(151, 117, 250, 1) 0%,
    rgba(116, 143, 252, 1) 100%
  );
  color: transparent;
  background-clip: text;

  font-size: 22px;
  text-transform: uppercase;

  justify-content: center;
}

mat-hint,
mat-error {
  margin: 5px;
}

.card-actions {
  display: flex;
  justify-content: center;
}

.input-icon {
  transform: scale(1.1);
}
