.example-spacer {
  flex: 1 1 auto;
}

.menu-title {
  color: #000;
}

button {
  font-size: 18px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon {
  font-size: 32px;
}

.mat-menu-item {
  display: flex;
  align-items: center;
}
.mat-menu-item > .mat-icon {
  font-size: 26px;
  color: #b197fc;
}
