<mat-toolbar class="app-header" color="primary">

    <span>Bank App</span>
    <div *ngIf="auth.isLoggedIn">
        <button mat-button routerLink="/">Account Operation</button>
        <button mat-button routerLink="/add-operation">Add Operation</button>
        <button mat-button routerLink="/accounts">All Clients Accounts</button>
    </div>
    <span class="example-spacer"></span>
    <div *ngIf="auth.isLoggedIn">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button class="menu-title" mat-menu-item disabled>
                Welcome,&nbsp;<span>{{auth.getUser()?.user.displayName}}</span>
            </button>
            <mat-divider></mat-divider>
            <button *ngIf="auth.getUser()?.role === 'manager'" routerLink="/add-user" mat-menu-item>
                <mat-icon>person_add</mat-icon>
                <span>Add Employee</span>
            </button>
            <button routerLink="/profile" mat-menu-item>
                <mat-icon>manage_accounts</mat-icon>
                <span>Profile</span>
            </button>
            <button (click)="signOut()" mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Log-out</span>
            </button>
        </mat-menu>

    </div>
    <div *ngIf="!auth.isLoggedIn">
        <button mat-button routerLink="/authentication/log-in">Log in</button>
    </div>

</mat-toolbar>